<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Organize Event</h1>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :date, as: :date, start_year: Date.today.year,
                                  end_year: Date.today.year + 4,
                                  order: [:day, :month, :year] %>
    <%= f.button :submit %>
  <% end %>
</div>