<div class="flex justify-center">
  <div class="bg-white flex flex-col max-w-2xl items-center shadow overflow-hidden sm:rounded-lg">
    <div class="mb-4 text-3xl font-black">
      <h3>
        <%= @event.name %>
      </h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Host
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @event.creator.name %>
            <br>
            <%= @event.creator.email %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @event.location %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Date
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @event.date.strftime("%m/%d/%Y") %>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Time
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @event.date.strftime("%H:%M") %>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Description
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @event.desc %>
          </dd>
        </div>

        <% if @event.creator == current_user %>
          <div class="bg-white px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Invitations
            </dt>
            <div>
              <%= simple_form_for :search, url: event_path, method: "GET", html: { class: "flex rounded-md shadow-sm mt-1" } do |f| %>
                <div>
                  <%= f.input :name, label: false, input_html: { value: "", class: "flex-shrink h-8" } %>
                </div>
                <div class="pt-1 pl-2">
                  <%= f.submit "Search User", class: "inline-flex justify-center py-3 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                </div>
              <% end %>
            </div>
          </div>
          
          <% if @search.present? %>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Search Results
              </dt>
              <dl class="text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                <% unless @users.empty? %>
                  <% @users.each do |user| %>
                    <% next if user == current_user %>
                    <div class="grid-flow-col whitespace-nowrap">
                      <div class="flex items-center px-2 py-2">
                        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                          </svg>
                        </div>
                        <div class="ml-4 w-24">
                          <div class="text-sm font-medium text-gray-900">
                            <%= user.name %>
                          </div>
                          <div class="text-sm text-gray-500">
                            <%= user.email %>
                          </div>
                        </div>
                        <div class="ml-4 w-4 px-10">
                          <%= link_to "Send Invite", send_invite_event_path(:invited_user_id => user.id), class: "w-24 ml-1 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  Nobody found.
                <% end %>
              </dl>
            </div>
          <% end %>
        <% end %>
        
        <% unless @event.invited_users.empty? %>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Invited People
            </dt>
          </div>
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-3">
            <% @event.invited_users.each do |invited_user| %>
              <div class="relative">
                <div class="grid-flow-col whitespace-nowrap">
                  <div class="flex items-center px-6 py-2 pb-6">
                    <div class="flex items-center justify-center p-3 rounded-full bg-indigo-500 text-white">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                      </svg>
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        <%= invited_user.name %>
                      </div>
                      <div class="text-sm text-gray-500">
                        <%= invited_user.email %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </dl>
        <% end %>

        <% unless @event.attendees.empty? %>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Confirmed People
            </dt>
          </div>
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-3">
            <% @event.attendees.each do |attendee| %>
              <div class="relative">
                <div class="grid-flow-col whitespace-nowrap">
                  <div class="flex items-center px-6 py-2 pb-6">
                    <div class="flex items-center justify-center p-3 rounded-full bg-indigo-500 text-white">
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                      </svg>
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        <%= attendee.name %>
                      </div>
                      <div class="text-sm text-gray-500">
                        <%= attendee.email %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </dl>
        <% end %>
      </dl>
    </div>
  </div>  
</div>
